extends ../layout

block title
    title Signup Page

block scripts
    script(src='/scripts/pages.login.js')
    
block content
    div.container.main-content
        h1 New User Demo
        p bla bla bla
        div
            form.form-horizontal(action='/account/signup', method='POST')
                fieldset.form-login
                    legend New User Registration
                    |     
                    div.form-group
                        label.col-lg-4.control-label(for='inputUserName') Full Name
                        div.col-lg-8
                            input#inputUserName.form-control(placeholder='Full Name', type='text', name='fullname')
                    div.form-group
                        label.col-lg-4.control-label(for='inputEmail') Email
                        div.col-lg-8
                            input#inputEmail.form-control(placeholder='Email', type='text', name='username')
                    div.form-group
                        label.col-lg-4.control-label(for='inputPassword') Password
                        div.col-lg-8
                            input#inputPassword.form-control(placeholder='Password', type='password', name='password')
                    div.form-group
                        label.col-lg-4.control-label(for='inputConfirmPassword') Confirm Password
                        div.col-lg-8
                            input#inputConfirmPassword.form-control(placeholder='Confirm Password', type='password')
                    div.form-group
                        div.col-lg-8.col-lg-offset-4
                            button.btn.btn-default(type='reset') Cancel
                            button.btn.btn-primary(type='submit') Submit
        if message != ''
            div.alert.alert-dismissible.alert-danger
                button.close(type='button', data-dismiss='alert') &times;
                strong #{message}