extends ../layout

block title
	title User Info

block content
	div.container.main-content
		h1 User Info
		p If you accessed this page is because you are logged in.
		div
			| Hello, #{userFullName} !