body { 
    
    padding-top: 60px; 
}

.main-content {
    
    min-height: 500px;
}

.form-login {
    
    margin-top: 40px;
    width: 570px;
}

.form-login .form-control, .signup-modal .form-control {
    
    width: 300px;
}

.alert{
    
    margin: 10px 0 10px 0;
}